.Landing_main1 {
  display: flex;
  width: 97%;
  height: 100%;
  padding-left: 3%;
  padding-top: 3%;
}
.Landing_left {
  display: flex;
  flex-direction: column;
  height: 700px;
  justify-content: center;
  width: 50%;
}
.Landing_left > h4 {
  padding-bottom: 5%;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
}
.Landing_left > h1 {
  font-size: 70px;
  font-weight: 700;
  white-space: pre-wrap;
}
.Landing_app_store {
  display: flex;
  column-gap: 4%;
  padding-top: 5%;
}
.Apple {
  width: 150px;
  height: 50px;
  cursor: pointer;
}
.Store {
  width: 150px;
  height: 50px;
  cursor: pointer;
}
.Landing_right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

@media screen and (max-width: 920px) {
  .Landing_main1 {
    flex-wrap: wrap;
  }
  .Landing_left {
    height: 100%;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .Landing_right {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .Landing_image1 {
    margin-top: 5%;
  }
}

@media screen and (max-width: 545px) {
  .Landing_left {
    text-align: center;
  }
  .Landing_image1 {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 285px) {
  .Landing_left > h1 {
    font-size: 35px;
  }
  .Landing_app_store {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
  }
}
